@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');


*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
    padding: 0 4vw;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(177, 177, 177) ;
}

.logo{
    font-family: 'Squada One', cursive;
    font-size: 35px;
}
.logo a{
    font-weight: 600;
    color: #ffae52;
}
.logo span:nth-child(1){
    color: #ff414d;
}

.nav_menu li{
    list-style: none;
    text-decoration: none;
}
.nav_menu li a{
    text-decoration: none;
}