{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <title>MyMick</title>
  </head>
  <body>
    <nav>
      <span class="logo">
        <a href="{% url 'home' %}">My<span>M</span>ick</a>
      </span>
      <ul class="nav_menu">
        <li>
          <a href="">Profile</a>
        </li>
      </ul>
    </nav>
    {% block index %}{% endblock %}
    

    <script src="{% static 'js/textPrint.js' %}"></script>
  </body>
</html>

